{
  "repos": [
    {
      "url": "https://git.demo.com/user/my-repo",
      "label": "my-repo",
      "gitPlatform": "gitea",
      "steps": [
        {
          "type": "list-pr",
          "status": "open",
          "user": "redwan",
        },
        {
          "type": "create-pr",
          "sourceBranch": "redwan",
          "destinationBranch": "develop",
          "mergeWhenChecksSucceed": "yes",
          "waitFor": ["develop-branch-docker.yaml"],
        },
        {
          "type": "run-workflow",
          "workflow": "staging-deploy.yaml",
          "ref": "develop",
          "eager": true,
          "needConfirmation": true,
        },
        {
          "type": "create-pr",
          "sourceBranch": "develop",
          "destinationBranch": "main",
          "mergeWhenChecksSucceed": "yes",
          "waitFor": ["main-branch-docker.yaml"],
          "eager": true,
          "needConfirmation": true,
        },
        {
          "type": "run-workflow",
          "workflow": "production-deploy.yaml",
          "ref": "main",
          "eager": true,
        },
      ],
    },
  ],
}
