{
  "url": "https://git.demo.com/user/my-repo",
  "gitPlatform": "gitea",
  "steps": [
    {
      "type": "list-pr",
      "status": "open",
      "user": "redwan",
      "runBeforeAskUpfront": true,
    },
    {
      "askUpfront": true,
      "subSteps": [
        {
          "type": "create-pr",
          "sourceBranch": "redwan",
          "destinationBranch": "develop",
          "merge": true,
          "afterMerge": {
            "waitFor": ["develop-branch-docker.yaml"],
          },
          "askUpfront": true,
          "confirmBeforeRun": true,
        },
        {
          "type": "merge-pr",
          "when": [
            {
              "destinationBranch": "develop",
              "waitFor": ["develop-branch-docker.yaml"],
            },
          ],
        },
      ],
    },
    {
      "type": "run-workflow",
      "workflow": "staging-deploy.yaml",
      "useWorkflowFromBranch": "develop",
      "askUpfront": true,
      "confirmBeforeRun": true,
    },
    {
      "type": "create-pr",
      "sourceBranch": "develop",
      "destinationBranch": "main",
      "merge": true,
      "afterMerge": {
        "waitFor": ["main-branch-docker.yaml"],
      },
      "askUpfront": true,
      "confirmBeforeRun": true,
    },
    {
      "type": "run-workflow",
      "workflow": "production-deploy.yaml",
      "useWorkflowFromBranch": "main",
      "askUpfront": true,
    },
  ],
}
